@(usuario: Usuario)

@main("Detalle usuario") {
    <h1>Detalle usuario @usuario.id</h1>
    <ul>
        <li><strong>Login</strong>: @usuario.login</li>
        <li><strong>Nombre</strong>: @usuario.nombre</li>
        <li><strong>Apellidos</strong>: @usuario.apellidos</li>
        <li><strong>Correo electrónico</strong>: @usuario.eMail</li>
        @if(usuario.fechaNacimiento != null) {
             <li><strong>Fecha de nacimiento</strong>: @usuario.fechaNacimiento.format("dd-MM-yyyy")</li>
        }
    </ul>
    <p>
    <a class="btn btn-primary" href="@routes.Usuarios.editarUsuario(usuario.id)">Editar</a>
    <a class="btn btn-primary" href="@routes.Usuarios.listaUsuarios()">Volver</a></p>
}
