@(usuarioForm: Form[Usuario], mensaje: String)
@main("Añadir un usuario") {
    @if(mensaje != "") {
        <div class="alert alert-danger">
            @mensaje
        </div>
    }
    <h1>Añadir usuario</h1>
    @helper.form(action = routes.Usuarios.grabaNuevoUsuario()) {
        <fieldset>
            <legend>Usuario nuevo</legend>
            @helper.inputText(usuarioForm("login"), '_label -> "Login")
            @helper.inputText(usuarioForm("password"), '_label -> "Contraseña", 'type -> "password")
            @helper.inputText(usuarioForm("nombre"), '_label -> "Nombre")
            @helper.inputText(usuarioForm("apellidos"), '_label -> "Apellidos")
            @helper.inputText(usuarioForm("eMail"), '_label -> "Correo electrónico")
            @helper.inputText(usuarioForm("fechaNacimiento"), '_label -> "Fecha nacimiento (dd-mm-aaaa)")
        </fieldset>
        <p>
        <input type="submit" class="btn btn-primary" value="Guardar">
        <a class="btn btn-primary" href="@routes.Usuarios.listaUsuarios()">Cancelar</a></p>
    }
}
