@(usuarioForm: Form[Registro], mensaje: String)
@main("Añadir un usuario") {
    @if(mensaje != "") {
        <div class="alert alert-danger">
            @mensaje
        </div>
    }
    <h1>Registro nuevo usuario</h1>
    @helper.form(action = routes.Usuarios.registraNuevoUsuario()) {
        <fieldset>
            <legend>Usuario nuevo</legend>
            @helper.inputText(usuarioForm("login"), '_label -> "Usuario")
            @helper.inputText(usuarioForm("password"), '_label -> "Contraseña", 'type -> "password")
            @helper.inputText(usuarioForm("eMail"), '_label -> "Correo electrónico")
        </fieldset>
        <p>
        <input type="submit" class="btn btn-primary" value="Guardar">
        <a class="btn btn-primary" href="@routes.Usuarios.formularioLogin()">Cancelar</a></p>
    }
}
