@(loginForm: Form[Login], mensaje: String)
@main("Login") {
    <h1>Login</h1>
    @helper.form(action = routes.Usuarios.doLoginUsuario()) {
        <fieldset>
            <legend>Usuario</legend>
            @helper.inputText(loginForm("login"), '_label -> "Usuario")
            @helper.inputText(loginForm("password"), '_label -> "Contraseña", 'type -> "password")
        </fieldset>
        <p>
        <input type="submit" class="btn btn-primary" value="Entrar">
        <a class="btn btn-primary" href="@routes.Usuarios.formularioRegistro()">Registro nuevo usuario</a></p>
    }
    @if(mensaje != "") {
        <div class="alert alert-danger">
            @mensaje
        </div>
    }
}
