@(registroForm: Form[Registro], mensaje: String)
@main("Registro usuario") {
    @if(mensaje != "") {
        <div class="alert alert-danger">
            @mensaje
        </div>
    }
    <h1>Registrar nuevo usuario</h1>
    @helper.form(action = routes.UsuariosController.registroUsuario()) {
        <fieldset>
            <legend>Registro usuario</legend>
            @helper.inputText(registroForm("login"), '_label -> "Login")
            @helper.inputPassword(registroForm("password"), '_label -> "Contraseña")
            @helper.inputPassword(registroForm("confirmacion"), '_label -> "Repite contraseña")
        </fieldset>
        <p>
        <input type="submit" class="btn btn-primary" value="Guardar">
        <a class="btn btn-primary" href="@routes.UsuariosController.login()">Login</a></p>
    }
}
