@(mensaje: String)

@main("ToDo List") {
    <h1>ToDo List</h1>
    <ul>
        <li><a href="@routes.Usuarios.formularioNuevoUsuario()"> Añadir usuario</a></li>
        <li><a href="@routes.Usuarios.listaUsuarios()">Listar usuarios</a></li>
    </ul>
    <p><em>@mensaje</em></p>
}
