@(tareas: List[Tarea])
@main("Listado de tareas") {
    <h2>Listado de tareas</h2>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Descripción</th>
            </tr>
        </thead>
        <tbody>
            @for(tarea <- tareas) {
                <tr>
                    <td>@tarea.id</td>
                    <td>@tarea.descripcion</td>
                </tr>
            }
        </tbody>
    </table>
}
