@(usuarios: List[Usuario], mensaje: String)
@scripts = {
    <script type="text/javascript">
        function del(urlBorrar) {
            $.ajax({
                url: urlBorrar,
                type: 'DELETE',
                success: function(results) {
                    //refresh the page
                    location.reload();
                }
            });
        }
    </script>
}
@main("Listado de usuarios", scripts) {

    <h2> Listado de usuarios </h2>

    <table class="table table-striped">
        <tr>
            <th>Id</th>
            <th>Login</th>
            <th>Nombre</th>
            <th>Apellidos</th>
            <th>Acción</th>
        </tr>
    @for(usuario <- usuarios) {
        <tr>
            <td>@usuario.id</td>
            <td>@usuario.login</td>
            <td>@usuario.nombre</td>
            <td>@usuario.apellidos</td>
            <td><a href="@routes.UsuariosController.detalleUsuario(usuario.id)">Detalle</a> 
                <a href="@routes.UsuariosController.editaUsuario(usuario.id)">Editar</a></td>
        </tr>
      }

  </table>

    @if(mensaje != null) {
        <div class="alert alert-success">
            @mensaje
        </div>
    }
}
