@(usuarios: List[Usuario], mensaje: String)
@scripts = {
    <script type="text/javascript">
        function del(urlBorrar) {
            $.ajax({
                url: urlBorrar,
                type: 'DELETE',
                success: function(results) {
                    //refresh the page
                    location.reload();
                }
            });
        }
    </script>
}
@main("Listado de usuarios", scripts) {

    <h2> Listado de usuarios </h2>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Login</th>
                <th>Nombre</th>
                <th>Apellidos</th>
                <th>Acción</th>
            </tr>
        </thead>
        <tbody>
            @for(usuario <- usuarios) {
                <tr>
                    <td>@usuario.id</td>
                    <td>@usuario.login</td>
                    <td>@usuario.nombre</td>
                    <td>@usuario.apellidos</td>
                    <td>
                        <a href="@routes.Usuarios.detalleUsuario(usuario.id)">
                            <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></a>
                        <a href="@routes.Usuarios.editarUsuario(usuario.id)">
                            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a>
                        <a onmouseover="" style="cursor: pointer;" onclick="del('@routes.Usuarios.borraUsuario(usuario.id)')">
                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a></td>
                </tr>
            }
            <tr>
                <td><a href="@routes.Usuarios.formularioNuevoUsuario">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>

        </tbody>
    </table>
    @if(mensaje != null) {
        <div class="alert alert-success">
            @mensaje
        </div>
    }
}
